@font-face {
    font-family: red hat text;
    src: local("Red Hat Text Regular"), url(085d38ee47b26ae59354.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: red hat text;
    src: local("Red Hat Text Medium"), url(e134dfbb4db0d512c9f9.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: red hat text;
    src: local("Red Hat Text Bold"), url(79f1187c3e430914843c.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: red hat display;
    src: local("Red Hat Display Regular"), url(e7897cb24d4f6bf9ea08.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: red hat display;
    src: local("Red Hat Display Medium"), url(55973a9de69c08de89ae.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: red hat display;
    src: local("Red Hat Display Bold"), url(c7f567b89d936394a904.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}



body {
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 28px;
    font-family: red hat text, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%
}





.policy-wrap {
    position: relative;
    max-width: 810px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 2
}

.policy-wrap:nth-of-type(1) {
    padding-top: 70px
}

.policy-wrap.no-nav:nth-of-type(1) {
    padding-top: 0
}

@media(min-width:768px) {
    .policy-wrap {
        padding: 0 20px
    }
}

.policy-wrap.table_of_contents {
    width: 100%;
    max-width: 100%;
    padding: 0
}

.policy-wrap.table_of_contents:not(.no-nav):nth-of-type(1) {
    padding: 60px 0 0
}

@media(min-width:768px) {
    .policy-wrap.table_of_contents:not(.no-nav):nth-of-type(1) {
        padding: 70px 0 0
    }
}

.policy-wrap.table_of_contents .policy-content {
    margin: 0
}

@media(min-width:992px) {
    .policy-wrap.table_of_contents .policy-content {
        margin: 0 0 0 100px
    }
}

@media(min-width:1220px) {
    .policy-wrap.table_of_contents .policy-content {
        margin: 0 0 0 120px
    }
}

.policy-wrap h1 {
    margin-bottom: 56px
}

.policy-wrap p {
    color: #575757
}

@media(min-width:992px) {
    .policy-wrap.no-nav .policy-tabs {
        top: 40px
    }
}

.policy-wrap .policy-blocks {
    position: relative;
    display: block;
    padding-top: 30px;
    padding-bottom: 115px
}

@media(min-width:576px) {
    .policy-wrap .policy-blocks {
        padding-top: 40px
    }
}

@media(min-width:992px) {
    .policy-wrap .policy-blocks {
        display: flex;
        align-items: flex-start;
        justify-content: space-between
    }
}

.policy-wrap .policy-top-button {
    width: 50px;
    height: 50px;
    background-color: #8cd734;
    border-radius: 50%;
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center
}

.policy-wrap .policy-top-button:hover {
    background-color: #71bf18
}

.policy-wrap .policy-top-button:active {
    background-color: #59a601
}

.policy-wrap .policy-top-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: sticky;
    margin: 25px 0 -25px;
    bottom: 20px
}

@media(min-width:992px) {
    .policy-wrap .policy-top-button-wrapper {
        position: absolute;
        bottom: 40px;
        margin: 0
    }
}

.policy-wrap .policy-tabs {
    display: none;
    margin: 22px 0 30px;
    list-style: none;
    position: relative
}

@media(min-width:992px) {
    .policy-wrap .policy-tabs {
        min-width: 225px;
        position: sticky;
        top: 110px;
        padding: 0;
        padding: 0 0 40px
    }
}

@media(min-width:1220px) {
    .policy-wrap .policy-tabs {
        min-width: 280px
    }
}

.policy-wrap .policy-tabs.desktop {
    display: none
}

@media(min-width:992px) {
    .policy-wrap .policy-tabs.desktop {
        display: block
    }
}

.policy-wrap .policy-tabs.mobile {
    display: block
}

@media(min-width:992px) {
    .policy-wrap .policy-tabs.mobile {
        display: none
    }
}

.policy-wrap .policy-tabs_title {
    font-size: 21px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000;
    font-family: red hat display, sans-serif;
    margin: 0 0 20px
}

@media(min-width:992px) {
    .policy-wrap .policy-tabs_title {
        font-size: 25px;
        margin: 0 0 30px
    }
}

@media(min-width:1220px) {
    .policy-wrap .policy-tabs_title {
        font-size: 28px
    }
}

.policy-wrap .policy-tabs ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0
}

.policy-wrap .policy-tabs li {
    display: block;
    margin-bottom: 15px
}

@media(min-width:768px) {
    .policy-wrap .policy-tabs li {
        margin-bottom: 20px
    }
}

.policy-wrap .policy-tabs li:last-child {
    margin-bottom: 0
}

.policy-wrap .policy-tabs a {
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-decoration: none;
    color: #5fb200;
    font-family: red hat display, sans-serif
}

.policy-wrap .policy-tabs a:hover {
    text-decoration: underline
}

.policy-wrap .policy-tabs a.active {
    text-decoration: underline
}

.policy-wrap .policy-content {
    font-size: 14px;
    line-height: 28px;
    margin: 20px
}

@media(min-width:768px) {
    .policy-wrap .policy-content {
        margin: 50px
    }
}

.policy-wrap .policy-content .policy-tabs.mobile ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0
}

.policy-wrap .policy-content .policy-tabs.mobile li {
    display: block;
    margin-bottom: 15px
}

@media(min-width:768px) {
    .policy-wrap .policy-content .policy-tabs.mobile li {
        margin-bottom: 20px
    }
}

.policy-wrap .policy-content .policy-tabs.mobile li:last-child {
    margin-bottom: 0
}

.policy-wrap .policy-content .policy-tabs.mobile a {
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-decoration: none;
    color: #5fb200;
    font-family: red hat display, sans-serif
}

.policy-wrap .policy-content .policy-tabs.mobile a:hover {
    text-decoration: underline
}

.policy-wrap .policy-content p,
.policy-wrap .policy-content span.ul-text {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 28px
}

.policy-wrap .policy-content a {
    text-decoration: underline
}

.policy-wrap .policy-content h1,
.policy-wrap .policy-content h3 {
    margin: 0
}

.policy-wrap .policy-content h3 {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500
}

.policy-wrap .policy-content h1,
.policy-wrap .policy-content h2,
.policy-wrap .policy-content h3,
.policy-wrap .policy-content h4,
.policy-wrap .policy-content h5 {
    font-family: red hat display, sans-serif;
    font-weight: 700
}

.policy-wrap .policy-content h1 strong,
.policy-wrap .policy-content h2 strong,
.policy-wrap .policy-content h3 strong,
.policy-wrap .policy-content h4 strong,
.policy-wrap .policy-content h5 strong {
    font-weight: 700
}

.policy-wrap .policy-content h4,
.policy-wrap .policy-content h5,
.policy-wrap .policy-content h6,
.policy-wrap .policy-content span.ul-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400
}

.policy-wrap .policy-content a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden
}

.policy-wrap .policy-content table {
    position: relative;
    width: 100vw;
    right: calc(50vw - 50%);
    border: 1px solid grey
}

@media(min-width:992px) {
    .policy-wrap .policy-content table {
        width: 70vw;
        right: calc(35vw - 50%)
    }
}

.policy-wrap .policy-content table tr th {
    background-color: #f2f2f2
}

.policy-wrap .policy-content table tr td,
.policy-wrap .policy-content table tr th {
    border: 1px solid grey;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
    vertical-align: top
}

.policy-wrap .policy-content table tr td:nth-child(1),
.policy-wrap .policy-content table tr th:nth-child(1) {
    width: 35%
}

.policy-wrap .policy-content table tr td:nth-child(2),
.policy-wrap .policy-content table tr th:nth-child(2) {
    width: 20%
}

.policy-wrap .policy-content table tr td:nth-child(3),
.policy-wrap .policy-content table tr th:nth-child(3) {
    width: 45%
}

.policy-wrap .policy-content table tr td ul li {
    padding-top: 10px
}

.policy-wrap .policy-content ul>li>h4,
.policy-wrap .policy-content .custom-list h4 {
    margin-bottom: 0
}

.policy-wrap .policy-content a {
    color: #404040;
    word-wrap: break-word;
    text-decoration: underline
}

.policy-wrap .policy-content a:hover {
    color: #bfbfbf
}

.policy-wrap .policy-content .w-80 {
    width: 90%
}

@media(min-width:768px) {
    .policy-wrap .policy-content .w-80 {
        width: 80%
    }
}

.policy-wrap .policy-content .center {
    margin: 20px auto
}

.policy-wrap .policy-content ul,
.policy-wrap .policy-content .custom-list {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    padding: 0;
    margin: 0 0 0 15px
}

.policy-wrap .policy-content ul li,
.policy-wrap .policy-content ul .custom-list-item,
.policy-wrap .policy-content .custom-list li,
.policy-wrap .policy-content .custom-list .custom-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: disc
}

